body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgba(56, 24, 170, 0.1);
}

.container {
    display: grid;
    width: 600px;
    height: 500px;
    justify-content: center;
    margin-left: 5%;
}

main {
    display: grid;
    justify-content: space-around;
}


.connection-box, .register-box {
    width: 350px;
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(images/conection-image.jpg);
    grid-template-columns: 1/1;
}

.connection-box h3, input, button, p{
    margin: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    border-spacing: 0;
}

.register-box h3, input, button, p{
    margin: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    border-spacing: 0;
}

h3 {
    margin-left: 19% !important;
    margin-top: 10px !important;
}

input, button {
    border-radius: 10px;
}

button {
    margin-left: 2%;
    border-radius: 50px;
    background-color: rgba(32, 95, 220, 0.99);
    color: #fff;
    font-size: 16px;
    margin-top: 25px;
    transition: 0.3s ease-in-out;
}

p {
    font-size: 17px;
    margin-top: 30px;
    border: none;
}

button:hover {
    scale: 1.05;
    font-display:unset;
    background-color: rgb(73, 27, 236);
}

a {
    color: blueviolet;
}

#register:hover {
    scale: 1.05;
    color: blue;
    font-style: italic;
}

@media (min-width:700px) {
    .connection-box, .register-box{
        width: 450px
    }
    .register-box h3, input, button, p{
        width: 300px;
    }
    .connection-box h3, input, button, p{
        width: 300px;
    }
    h3, p {
        margin-left: 15%;
    }

}

.register-box {
    display: none;
}


