<article>
    <h2>Reservation</h2>
    <div class="reserv-details">
        <form action="" method="post">
            <label for="check-in">Check-in Date</label>
            <input type="date" id="checkin" name="check-in" required>
            <label for="check-out">Check-out Date</label>
            <input type="date" id="checkout" name="check-out" required>
            <label for="spaces-type">Space Type</label>
            <select name="spaces-type" id="spaces-type" required>
                <option value="Tent">Tent Space</option>
                <option value="trailer">Trailer Space</option>
                <option value="bungalow">Bungalow</option>
            </select>
            <label for="people-no">Number of People</label>
            <input type="number" id="peop-no" name="peop-no" required>
            <label for="space-no">Number of Spaces</label>
            <input type="number" name="space-no" id="space-no" required>
            <input type="submit" id="search" value="Search">
        </form>
    </div>
</article>